@using Site.Helper
@model Site.Models.Home.HomeModel
@{
    Layout = "~/Views/Shared/_LayoutSalon.cshtml";
}
@section metatags{
    <title>Beautyclick portál salónov krásy s On-Line rezerváciou</title>
    <meta name="description" content="Získajte množstvo nových zákazníkov pomocou non-stop on-line rezervácie. Jednoduchý a spoľahlivý rezervačný systém, ako jediný obsahuje 100% všetko čo vaše beauty podnikanie potrebuje.">
    <meta property="og:title" content="Beautyclick portál salónov krásy s On-Line rezerváciou">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="BeautyClick">
    <meta property="og:url" content="https://beautyclick.sk">
    <meta property="og:image" content="https://beautyclick.sk/images/src/beautyclick_logo-1200.png">
}
<style type="text/css">
    @@media(max-width:600px){
        .page__home {
            background: url(/images/src/home-hero-bg-mobile.jpg) no-repeat top/cover, 100%;
        }
    }
    .header{margin:0;padding:0}
    .switch_aprove {
        float:left;
        position:relative !important;
        display:inline-block !important;
        width:46px !important;
        height:20px !important
    }
    .switch_aprove input{display:none !important}
    .switch_aprove::before{border:none !important}
    .slider {
        position: absolute !important;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 2px;
        background-color: #EC405D;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider{background-color:#4ec42c}
    input:focus + .slider{box-shadow:0 0 1px #4ec42c}
    input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
        background-color:#fff
    }
    .slider.round{border-radius:30px}
    .slider.round:before{border-radius:50%}
    .chbx-search label::before{border:none !important;width:none !important}
    .chbx-search span {padding:0 0 10px 0 !important}
</style>

<main class="page__home">
    <section class="hero">
        <div class="hero__chapter">
            <h1 style="line-height:150%;font-size:23px;letter-spacing:0.03em;margin:70px auto 20px auto;text-shadow:1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000"><!--Nájdi odborníka v oblasti krásy a zdravia na celom Slovensku<br />--><!--OBJEDNAJ SA ON-LINE!-->Objednaj si služby krásy<br /><img src="/img/wifi-icon.png" alt="wi-fi" style="width:25px;vertical-align:top;margin-top:5px" /> on-line zadarmo!</h1>

            <form class="form__hero" action="" id="frmHomeSearch" method="post">
                <input type="hidden" id="hdAutId" />
                <input type="hidden" value="0" name="lat" id="hdLat" />
                <input type="hidden" value="0" name="lng" id="hdLng" />
                <input type="hidden" value="false" name="now" id="hdNow" />
                <div class="search-main-box" style="margin-bottom:10px">
                    <div class="input__wrap search">
                        @{ var CategoryList = Model?.CategoryItems.Where(s => s.Text != "Temp").ToList(); }
                        @Html.DropDownListFor(m => m.CategoryId, CategoryList, @Resources.General.HomeFind, //Model?.CategoryItems
                            new
                            {
                                required = "",
                                name = "search",
                                id = "searchTxt",
                                oninvalid = "this.setCustomValidity('" + @Resources.General.HomeSearchRequiredText + "')",
                                oninput = "setCustomValidity('')",
                                style = "border:none;padding-right:40px"
                            })
                        <input type="hidden" id="hfCustomer" name="CustomerId" />
                        <input type="hidden" id="hdSelVal" />
                        <input type="hidden" id="hdSelType" value="category" />
                    </div>

                    <div class="input__wrap select">
                        @Html.DropDownListFor(m => m.CityId, Model?.CityItems, @Resources.Salon.SalonAddSelectCity,
                            new
                            {
                                required = "",
                                name = "city",
                                id = "city",
                                oninvalid = "this.setCustomValidity('" + @Resources.General.HomeSearchCityRequired + "')",
                                oninput = "setCustomValidity('')",
                                style = "border:none;padding-right:40px;margin:0"
                            })
                        <script>$("#city").val(['']);</script>
                    </div>
                </div>

                <div class="chbx-search" style="margin-top:0;display:block;max-width:334px">
                    <div class="input__wrap chbx" style="display:block;width:100%">
                        <label for="ckbNear" style=""><span>V mojej blízkosti</span></label>
                        <label class="switch_aprove" style="float:right" onclick="SelNearBy(this)">
                            <input id="ckbNear" name="" type="checkbox" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="input__wrap chbx" style="display:block;width:100%">
                        <label for="ckbNow" style=""><span>Termín voľný ihneď</span></label>
                        <label class="switch_aprove" style="float:right" onclick="SelNow(this)">
                            <input id="ckbNow" name="" type="checkbox" value="true">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="search-main-box" style="text-align:center;margin-bottom:30px;margin-top:10px">
                    <button class="btn" type="submit" style="background-color:#fff;color:#000 !important;max-width:150px !important">Hľadať</button>
                </div>
            </form>
        </div>
    </section>
</main>

<main class="page__home">
    <div class="container" style="border-radius:0 0 15px 15px">
        <section class="salons" style="margin-top:0">
            <div class="salons__sity" style="margin:0">
                <div class="top" style="margin-bottom:8px;text-align:left;margin-top:5px">
                    <h2 style="color:#000 !important;margin-bottom:0;font-weight:normal;font-size:18px"># TOP ponuka</h2>
                </div>
                @{ var data = new ViewDataDictionary { { "DisplayType", Shared.Enums.SalonListViewType.Index } }; }
                <div id="dvSearchResult">
                    @{ Html.RenderPartial("Salon/_SalonListWithServices", Model.SalonModel, data); }
                </div>
            </div>
        </section>

        @if (Model.ClientArticles != null && Model.ClientArticles.Count > 0)
        {
            <section class="articles articles--wide">
                <ul class="articles__list">
                    @foreach (var a in Model.ClientArticles)
                    {
                        <li>
                            <a class="articles__link" href="/Home/Page/@a.Id">
                                <div class="articles__media">
                                    <img src="@a.Image.GetThumbNail()" alt="">
                                </div>
                                <div class="articles__showing">
                                    <span class="data">@StringHelper.MonthWithDayStrSlovak(a.AddedUtc)</span>
                                </div>
                                <div class="articles__desc">
                                    <h3>@a.Name</h3>
                                    <p>@Html.Raw(a.ShortDesc)</p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </section>
        }
        </div>
    </main>

@section Scripts
{
        <script src="@Url.Content("~/js/custom.js")"></script>
        <script src="@Url.Content("~/js/home.js")"></script>
        <script type="text/javascript">
        function Selected(obj) {
            if (obj.data("type") === "salon") {
                location.href = obj.data('val');
            } else {
                $("#hdSelVal").val(obj.data('id'));
                $("#hdSelType").val(obj.data("type"));
            }
        }

        $('.catlnk').click(function (e) {
            location.href = '/Home/Search/?cat='+ $(this).data("catid")+"&city="+$("#city").val();
        });

        $(document).on('click', '#showVideobutton', function (e) {
            $("#video__popup").toggleClass("show");
        });

        /*$(".salreg").click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Bezplatná a nezáväzná registrácia',
                html: 'Registrujete sa ako salón ktorý má viac zamestnancov alebo ako sólo živnostník?',
                text: "",
                showDenyButton: true,
                confirmButtonColor: '#EC405D',
                denyButtonColor: '#EC405D',
                confirmButtonText: '1 odborník',
                denyButtonText: 'viac ako 1'
            }).then((result) => {
                if (result.isConfirmed) {
                    //solo
                    location.href = '/SalonOwner/Registration/Solo';
                }
                if (result.isDenied) {
                    //salon
                    location.href = '/SalonOwner/Registration';
                }
            });
        });*/

        /*document.getElementById("video_overlay").onclick = function (e) {
            var e = e || window.event;
            var target = e.target || e.srcElement;
            if (this == target) {
                document.getElementById("ako_pouzivat_video").pause();
                $("#video__popup").toggleClass("show");
            }
        }*/
        //$(document).on("click", "#video_overlay", function (e) { $("#video__popup").toggleClass("show"); $("#ako_pouzivat_video").pause(); });

        $(document).on("change", "#searchTxt", function (e) {
            $('#hdSelVal').val($('#searchTxt').val());
        });

        $(document).on("change", ".ckbFavSalon", function (e) {
            $(this).prop("checked", !$(this).prop("checked"));
            var isCustomer = '@User.IsInRole(Role.Customer)';
            if (isCustomer == 'False') {
                Swal.fire({
                    html: 'Ak chcete pridať salón do obľúbených, prihláste/zaregistrujte sa. Chcete sa zaregistrovať?',
                    text: "",
                    icon: 'none',
                    showDenyButton: true,
                    denyButtonColor: '#aaa',
                    confirmButtonColor: '#54f07b',
                    confirmButtonText: 'Zaregistrovať sa',
                    denyButtonText: 'Zatiaľ nechcem',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#login__popup").toggleClass("show");
                    }
                    if (result.isDenied) {
                        //vypnuť Viber na mesiac
                        //var cookie_date = new Date();
                        //cookie_date.setMonth(cookie_date.getMonth() + 1);
                        //createCookie('IsMasterViberDisabled', 'True', cookie_date.toGMTString());
                    }
                });
            } else {
                $(this).prop("checked", !$(this).prop("checked"));
                $.post("/Home/UpdateFavoriteSalon", { salon: $(this).data("salonid"), status: $(this).prop("checked") })
                    .done(function (obj) {
                        if (obj.IsSuccess) {
                            successMsg(obj.Message);
                        } else {
                            errorMsgC(obj.Message);
                        }
                    })
                    .fail(function (xhr, status, error) {
                    });
            }
        });

        function SelNearBy() {
            if ($("#ckbNear").is(":checked")) {
                getLocation();
            } else {
                $("#hdLat").val('0');
                $("#hdLng").val('0');
            }
        }

        function SelNow() {
            $("#hdNow").val("true");
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setCurPos, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function setCurPos(position) {
            $("#hdLat").val(position.coords.latitude);
            $("#hdLng").val(position.coords.longitude);
        }

        function showError(error) {
            $.alert({
                title: 'Chyba!',
                content: 'Nepodarilo sa zistiť vašu polohu, alebo ste nepovolili prístup k vašej polohe.',
                type: 'red',
                typeAnimated: true
            });
            /*switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred.";
                break;
            }*/
        }
        function showPositionOnMap(position) {
            var latlon = position.coords.latitude + "," + position.coords.longitude;
            var googlekey = "";
            var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&sensor=false&key=" + googlekey;
            document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
            loadSalonsByLocation(position);
        }
        </script>
}